# Maven build target
target/
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE & Editor files
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
